node_modules
.next
dist-tests
coverage
tsconfig.tsbuildinfo

.env
.env.local
.env.production
.env.ci.generated

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
!README.md
*.md
/lib/generated/prisma

# Ansible local secret helpers
ansible/.vault_pass.txt
ansible/*.retry
